@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Amatic SC', cursive;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23fdff27' fill-opacity='0.24' fill-rule='evenodd'/%3E%3C/svg%3E");
}

h1 {
    position: fixed;
    left: 30%;
    right: 30%;
    text-align: center;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    top: 0;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 5px;
    background: rgba(252, 255, 68, 0.8);
}

.fas { 
    color: rgb(85, 81, 81);
    font-size: 38px; 
    position: fixed;
    right: 0.6rem;
    top: 0.4rem;
}

.fas:hover {
    cursor: pointer;
    filter: brightness(120%);
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}

.loader img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
    margin: 10px 30%;
}

.image-container img {
    width: 100%;
    margin-top: 5px;
}

/* Media Query: Large smartphones */

@media screen and (max-width: 600px) {

    h1 {
        font-size: 20px;
        width: 100%;
        left: 0;
        padding-left: 0;
    }

    .fas {
        font-size: 20px;
        padding: 0.2rem;
        right: 0;
        top:0;
    }

    .image-container {
        margin: 10px;
    }
}