@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Pangolin', cursive;
    background: whitesmoke;
}

h1 {
    position: fixed;
    left: 30%;
    right: 30%;
    text-align: center;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    top: 0;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 5px;
    background: rgba(252, 255, 68, 0.8);
}

.fas { 
    font-size: 40px; 
    position: fixed;
    right: 10px;
    top: 0;
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}

.loader img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
    margin: 10px 30%;
}

.image-container img {
    width: 100%;
    margin-top: 5px;
}

/* Media Query: Large smartphones */

@media screen and (max-width: 600px) {

    h1 {
        font-size: 20px;
        width: 78.5%;
    }

    .fas {
        font-size: 20px;
        padding: 0.2rem;
    }

    .image-container {
        margin: 10px;
    }
}